USE [master]
GO
/****** Object:  Database [PassaparolaOyunu]    Script Date: 4.09.2025 15:31:25 ******/
CREATE DATABASE [PassaparolaOyunu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PassaparolaOyunu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PassaparolaOyunu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PassaparolaOyunu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PassaparolaOyunu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PassaparolaOyunu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PassaparolaOyunu]
GO
/****** Object:  Table [dbo].[TblDereceler]    Script Date: 4.09.2025 15:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDereceler](
	[dereceId] [smallint] IDENTITY(1,1) NOT NULL,
	[dogru] [varchar](2) NULL,
	[yanlis] [varchar](2) NULL,
	[bos] [varchar](2) NULL,
	[yarismaciId] [smallint] NOT NULL,
 CONSTRAINT [PK_TblDereceler_1] PRIMARY KEY CLUSTERED 
(
	[dereceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSiralama]    Script Date: 4.09.2025 15:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSiralama](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[dogru] [varchar](2) NULL,
	[yanlis] [varchar](2) NULL,
	[bos] [varchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSoru]    Script Date: 4.09.2025 15:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSoru](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[harf] [char](1) NULL,
	[soru] [varchar](150) NULL,
	[cevap] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblYarismaci]    Script Date: 4.09.2025 15:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblYarismaci](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](20) NULL,
	[sifre] [varchar](20) NULL,
 CONSTRAINT [PK_TblYarismaci] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblDereceler]  WITH CHECK ADD  CONSTRAINT [FK_TblDereceler_TblYarismaci] FOREIGN KEY([yarismaciId])
REFERENCES [dbo].[TblYarismaci] ([id])
GO
ALTER TABLE [dbo].[TblDereceler] CHECK CONSTRAINT [FK_TblDereceler_TblYarismaci]
GO
USE [master]
GO
